@import "tailwindcss";

@theme {
  --color-primary: #8600FB;
  --color-primary-dark: #6b00c9;
}

body {
  background: linear-gradient(135deg, rgb(147, 51, 234) 0%, rgb(126, 34, 206) 100%);
  min-height: 100vh;
}
